.postgame_chkLabel[title]:after {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	content: " ";
	background: url("../images/pokeball_bullet.png");
	background-size: 100%;
}

.tooltip {
	left: 50px !important;
}

.tooltip-inner {
	font-size: 11pt;
}

.postgame {
	/* background-color: white; */
	padding: 20px;
}

.red {
	color: red;
}

.green {
	color: green;
}

.seafoam {
	color: #24B976;
}

.boy {
	color: #66A2F0;
}

.girl {
	color: #FF6CAD;
}

.sun {
	color: #EC7448;
}

.moon {
	color: #5D3287;
	text-shadow: 
		0.01em 0 5px white,
		0 0.01em 5px white,
		-0.01em 0 5px white,
		0 -0.01em 5px white;
}

.diamond {
	color: #37559B;
	text-shadow: 
		0.01em 0 3px white,
		0 0.01em 3px white,
		-0.01em 0 3px white,
		0 -0.01em 3px white;
}

.pearl {
	color: #67356F;
	text-shadow: 
		0.01em 0 3px white,
		0 0.01em 3px white,
		-0.01em 0 3px white,
		0 -0.01em 3px white;
}


.sword {
	color: #00A1E9;

	background-image: url("../images/rustedsword.png");
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-position: right;
	padding-right: 18px;
}

.shield {
	color: #DE0059;

	background-image: url("../images/rustedshield.png");
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-position: right;
	padding-right: 18px;
}

.credit {
	text-align: center;
	margin-bottom: 20px;
}

.row-header {
	padding-bottom: 10px;
}

.teamLogo-header {
	width: 60px;
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
}

.badge-header {
	width: 300px;
	margin: 0 auto;
}

.badge-header-md {
	width: 400px;
	margin: 0 auto;
}

.badge-header-contents {
	margin: 0 auto;
}

.badge-sm {
	width: 30px;
	display: inline-block;
}

.badge-md {
	width: 45px;
	display: inline-block;
}

.task {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 11pt;
	padding-top: 10px;
	margin-top: 10px;
}

.taskimg {
	margin-left: 5px;
}

.subtask {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 8pt;
	margin-left: 1.5em;
	/* display: block; */
}

.extrainfo {
	margin-left: 1.5em;
}

.rbLogo { width: 125px; height: 115px; }
.rbyLogo { height: 100px; }
.rsLogo, .rseLogo { height: 150px; }
.frlgLogo { height: 100px; }
.rbBadge, .rbyBadge, .rsBadge, .rseBadge, .frlgBadge, .lgpeBadge { width: 30px; height: 30px; }
.rbCharizard { background: url("../images/Charizard.png"); background-size: contain; background-repeat: no-repeat; }
.rbBlastoise { background: url("../images/Blastoise.png"); background-size: contain; background-repeat: no-repeat; }
.rbyPikachu { background: url("../images/Pikachu.png"); background-size: contain; background-repeat: no-repeat; }
.rsGroudon { background: url("../images/Groudon.png"); background-size: contain; background-repeat: no-repeat; }
.rsKyogre { background: url("../images/Kyogre.png"); background-size: contain; background-repeat: no-repeat; }
.rseRayquaza-Left { background: url("../images/Rayquaza_Left.png"); background-size: contain; background-repeat: no-repeat; }
.rseRayquaza-Right { background: url("../images/Rayquaza_Right.png"); background-size: contain; background-repeat: no-repeat; }
.frlgCharizard { background: url("../images/FireRedCharizard.png"); background-size: contain; background-repeat: no-repeat; }
.frlgVenusaur { background: url("../images/LeafGreenVenusaur.png"); background-size: contain; background-repeat: no-repeat; }
.rbBoulderBadge { background: url("../images/rb_Boulder_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.rbCascadeBadge { background: url("../images/rb_Cascade_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.rbThunderBadge { background: url("../images/rb_Thunder_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.rbRainbowBadge { background: url("../images/rb_Rainbow_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.rbSoulBadge { background: url("../images/rb_Soul_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.rbMarshBadge { background: url("../images/rb_Marsh_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.rbVolcanoBadge { background: url("../images/rb_Volcano_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.rbEarthBadge { background: url("../images/rb_Earth_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.lgpeBoulderBadge { background: url("../images/lgpe_Boulder_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.lgpeCascadeBadge { background: url("../images/lgpe_Cascade_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.lgpeThunderBadge { background: url("../images/lgpe_Thunder_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.lgpeRainbowBadge { background: url("../images/lgpe_Rainbow_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.lgpeSoulBadge { background: url("../images/lgpe_Soul_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.lgpeMarshBadge { background: url("../images/lgpe_Marsh_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.lgpeVolcanoBadge { background: url("../images/lgpe_Volcano_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.lgpeEarthBadge { background: url("../images/lgpe_Earth_Badge.png"); background-size: contain; background-repeat: no-repeat; }

.gsLogo, .gscLogo { width: 125px; height: 115px; }
.gsBadge, .gscBadge { width: 30px; height: 30px; }
.gscHooh { background: url("../images/Ho-Oh.png"); background-size: contain; background-repeat: no-repeat; }
.gscLugia { background: url("../images/Lugia.png"); background-size: contain; background-repeat: no-repeat; }
.gscSuicune { background: url("../images/Suicune.png"); background-size: contain; background-repeat: no-repeat;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
.gscSuicune2 { background: url("../images/Suicune2.png"); background-size: contain; background-repeat: no-repeat; }
.gscZephyrBadge { background: url("../images/hgss_Zephyr_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.gscHiveBadge { background: url("../images/hgss_Hive_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.gscPlainBadge { background: url("../images/hgss_Plain_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.gscFogBadge { background: url("../images/hgss_Fog_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.gscStormBadge { background: url("../images/hgss_Storm_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.gscMineralBadge { background: url("../images/hgss_Mineral_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.gscGlacierBadge { background: url("../images/hgss_Glacier_Badge.png"); background-size: contain; background-repeat: no-repeat; }
.gscRisingBadge { background: url("../images/hgss_Rising_Badge.png"); background-size: contain; background-repeat: no-repeat; }

.orasStoneBadge { background: url("../images/oras_stone_badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.orasKnuckleBadge { background: url("../images/oras_knuckle_badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.orasDynamoBadge { background: url("../images/oras_dynamo_badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.orasHeatBadge { background: url("../images/oras_heat_badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.orasBalanceBadge { background: url("../images/oras_balance_badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.orasFeatherBadge { background: url("../images/oras_feather_badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.orasMindBadge { background: url("../images/oras_mind_badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.orasRainBadge { background: url("../images/oras_rain_badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }


.sumoKoko { background: url("../images/TapuKoko.png"); background-size: contain; background-repeat: no-repeat; }
.sumoLele { background: url("../images/TapuLele.png"); background-size: contain; background-repeat: no-repeat; }
.sumoBulu { background: url("../images/TapuBulu.png"); background-size: contain; background-repeat: no-repeat; }
.sumoFini { background: url("../images/TapuFini.png"); background-size: contain; background-repeat: no-repeat; }

.usumLogo { width: 125px; height: 125px; }
.usumBadge { width: 50px; height: 50px; }
.usumLunala { background: url("../images/ultra-lunala.png"); background-size: contain; background-repeat: no-repeat; width: 125px; height: 125px; }
.usumSolgaleo { background: url("../images/ultra-solgaleo.png"); background-size: contain; background-repeat: no-repeat; width: 125px; height: 125px; }

.lgpeLogo { width: 125px; height: 125px; }
.lgpePikachu { background: url("../images/lgpe_Pikachu.png"); background-size: contain; background-repeat: no-repeat; width: 125px; height: 125px; }
.lgpeEevee { background: url("../images/lgpe_Eevee.png"); background-size: contain; background-repeat: no-repeat; width: 125px; height: 125px; }

.swshLogo { width: 125px; height: 125px; }
.swshBadge { width: 30px; height: 30px; }
.swshSword { background: url("../images/swsh_sword.png"); background-size: contain; background-repeat: no-repeat; width: 125px; height: 125px; }
.swshShield { background: url("../images/swsh_shield.png"); background-size: contain; background-repeat: no-repeat; width: 125px; height: 125px; }
.swshGrassBadge { background: url("../images/swsh_Grass_Badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.swshWaterBadge { background: url("../images/swsh_Water_Badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.swshFireBadge { background: url("../images/swsh_Fire_Badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.swshGhostBadge { background: url("../images/swsh_Ghost_Badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.swshFightingBadge { background: url("../images/swsh_Fighting_Badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.swshFairyBadge { background: url("../images/swsh_Fairy_Badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.swshIceBadge { background: url("../images/swsh_Ice_Badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.swshRockBadge { background: url("../images/swsh_Rock_Badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.swshDarkBadge { background: url("../images/swsh_Dark_Badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.swshDragonBadge { background: url("../images/swsh_Dragon_Badge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }

.swshArmor { background: url("../images/swsh_armor.png"); background-size: contain; background-repeat: no-repeat; width: 125px; height: 125px; }
.swshCrown { background: url("../images/swsh_crown.png"); background-size: contain; background-repeat: no-repeat; width: 125px; height: 125px; }

.dpLogo, .bdspLogo { width: 125px; height: 125px; }
.dpBadge, .bdspBadge { width: 30px; height: 30px; }
.dpDialga { background: url("../images/Dialga.png"); background-size: contain; background-repeat: no-repeat; width: 125px; height: 125px; }
.dpPalkia { background: url("../images/Palkia.png"); background-size: contain; background-repeat: no-repeat; width: 125px; height: 125px; }
.dpCoalBadge { background: url("../images/dpCoalBadge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.dpForestBadge { background: url("../images/dpForestBadge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.dpCobbleBadge { background: url("../images/dpCobbleBadge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.dpFenBadge { background: url("../images/dpFenBadge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.dpRelicBadge { background: url("../images/dpRelicBadge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.dpMineBadge { background: url("../images/dpMineBadge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.dpIcicleBadge { background: url("../images/dpIcicleBadge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }
.dpBeaconBadge { background: url("../images/dpBeaconBadge.png"); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px; }

.arceusLogo { width: 150px; height: 150px; }
.laArceus { background: url("../images/arceus.png"); background-size: contain; background-repeat: no-repeat; width: 150px; height: 150px; }
.laArceus-reverse { background: url("../images/arceus.png"); background-size: contain; background-repeat: no-repeat; width: 150px; height: 150px; transform: scaleX(-1); }
.arceus-header { height: 180px;}

.svlogo-header { height: 180px;}
.svKoraidon { background: url("../images/Koraidon.png"); background-size: contain; background-repeat: no-repeat; width: 150px; height: 150px; }
.svMiraidon { background: url("../images/Miraidon.png"); background-size: contain; background-repeat: no-repeat; width: 150px; height: 150px; }

.pokesprite.sm {
	margin: -10px -15px;
}

.pokesprite.down {
	margin: -10px 0;
}

@media only screen
and (max-device-width: 750px) 
{
	input[type=checkbox] {
	/* All browsers except webkit*/
	transform: scale(2);

	/* Webkit browsers*/
	-webkit-transform: scale(2);
	}

	.task {
		font-size: 15pt;
	}

	.subtask {
		font-size: 14pt;
	}
}
