body {
	font-family: Verdana,Geneva,sans-serif;
}

label {
    display: block;
    margin-left: 20px;
}

.label-new {
	font-size: 14pt;
}

input[type='checkbox'] {
	margin-right: .5em;
}

.pagewrap {
	background-color: white;
}

.pageTitle {
	padding-top: 20px;
	font-family: Verdana,Geneva,sans-serif;
	font-variant: small-caps;
	font-size: 32pt;
	font-weight: bold;
	text-align: center;
}

.biglist {
	margin: 20px 0;
}

.notice {
	color: red;
	font-size: 16pt;
	text-align: center;
}

.pkmn-panel {
	margin-bottom: 20px;
}