.oras_chkLabel[title]:after {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	content: " ";
	background: url("../images/pokeball_bullet.png");
	background-size: 100%;  
}

.tooltip {
	left: 50px !important;
}

.tooltip-inner {
	font-size: 11pt;
}

.postgame {
	background-color: white;
	padding: 20px;
}

.ruby {
	color: #A50B00;
}

.sapphire {
	color: #171A9A;
}

.red {
	color: red;
}

.seafoam {
	color: #24B976;
}

.credit {
	text-align: center;
	margin-bottom: 20px;
}

.teamLogo-header {
	width: 60px;
	display: block;
	margin: 0 auto;
}

.badge-header {
	width: 270px;
	margin: 0 auto;
}

.badge-sm {
	width: 30px;
}

.subtask {
	font-family: 'ditedregular';
	font-size: 12pt;
	margin-left: 1.5em;
	display: inline;
}

.teamMagma { content: url("../images/magma_logo.png"); }
.teamAqua { content: url("../images/aqua_logo.png"); }
.orasStoneBadge { content: url("../images/oras_stone_badge.png"); }
.orasKnuckleBadge { content: url("../images/oras_knuckle_badge.png"); }
.orasDynamoBadge { content: url("../images/oras_dynamo_badge.png"); }
.orasHeatBadge { content: url("../images/oras_heat_badge.png"); }
.orasBalanceBadge { content: url("../images/oras_balance_badge.png"); }
.orasFeatherBadge { content: url("../images/oras_feather_badge.png"); }
.orasMindBadge { content: url("../images/oras_mind_badge.png"); }
.orasRainBadge { content: url("../images/oras_rain_badge.png"); }


@media print {
	.subtask, .subsubtask {
		font-family: inherit;
	}
}