.ruby {
	color: #A50B00;
}

.sapphire {
	color: #171A9A;
}

.pageTitle {
	font-family: 'diner-regularregular';
	font-size: 45pt;
	text-align: center;
}

.teamLogo-header {
	width: 60px;
	display: block;
	margin: 0 auto;
}

.badge-header {
	width: 60%;
	margin: 0 auto;
}

.badge-sm {
	width: 30px;
}

.subtask, .subsubtask {
	font-family: 'ditedregular';
	font-size: 12pt;
	margin-left: 1.5em;
}

.subsubtask {
	margin-left: 3em;
}


.teamMagma { content: url("../images/magma_logo.png"); }
.teamAqua { content: url("../images/aqua_logo.png"); }
.orasStoneBadge { content: url("../images/oras_stone_badge.png"); }
.orasKnuckleBadge { content: url("../images/oras_knuckle_badge.png"); }
.orasDynamoBadge { content: url("../images/oras_dynamo_badge.png"); }
.orasHeatBadge { content: url("../images/oras_heat_badge.png"); }
.orasBalanceBadge { content: url("../images/oras_balance_badge.png"); }
.orasFeatherBadge { content: url("../images/oras_feather_badge.png"); }
.orasMindBadge { content: url("../images/oras_mind_badge.png"); }
.orasRainBadge { content: url("../images/oras_rain_badge.png"); }

