.postgame_chkLabel[title]:after {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	content: " ";
	background: url("../images/pokeball_bullet.png");
	background-size: 100%;  
}

.tooltip {
	left: 50px !important;
}

.tooltip-inner {
	font-size: 11pt;
}

.postgame {
	background-color: white;
	padding: 20px;
}

.ruby {
	color: #A50B00;
}

.sapphire {
	color: #171A9A;
}

.red {
	color: red;
}

.seafoam {
	color: #24B976;
}

.gold {
	color: #E6C970;
}

.silver {
	color: #6290A4;
}

.boy {
	color: #66A2F0;
}

.girl {
	color: #FF6CAD;
}

.credit {
	text-align: center;
	margin-bottom: 20px;
}

.teamLogo-header {
	width: 60px;
	display: block;
	margin: 0 auto;
}

.badge-header {
	width: 270px;
	margin: 0 auto;
}

.badge-sm {
	width: 30px;
}

.task {
	padding-top: 10px;
	overflow: hidden;
}

.subtask {
	font-family: 'ditedregular';
	font-size: 12pt;
	margin-left: 1.5em;
	display: inline;
}

.bwTrioBadge { content: url("../images/bw_Trio_Badge.png"); }
.bwBasicBadge { content: url("../images/bw_Basic_Badge.png"); }
.bwInsectBadge { content: url("../images/bw_Insect_Badge.png"); }
.bwBoltBadge { content: url("../images/bw_Bolt_Badge.png"); }
.bwQuakeBadge { content: url("../images/bw_Quake_Badge.png"); }
.bwJetBadge { content: url("../images/bw_Jet_Badge.png"); }
.bwFreezeBadge { content: url("../images/bw_Freeze_Badge.png"); }
.bwLegendBadge { content: url("../images/bw_Legend_Badge.png"); }
.bw2ToxicBadge { content: url("../images/bw2_Toxic_Badge.png"); }
.bw2WaveBadge { content: url("../images/bw2_Wave_Badge.png"); }

.hgssHooh { content: url("../images/Ho-Oh.png"); width: 100px; }
.hgssLugia { content: url("../images/Lugia.png"); width: 100px; }
.hgssZephyrBadge { content: url("../images/hgss_Zephyr_Badge.png"); }
.hgssHiveBadge { content: url("../images/hgss_Hive_Badge.png"); }
.hgssPlainBadge { content: url("../images/hgss_Plain_Badge.png"); }
.hgssFogBadge { content: url("../images/hgss_Fog_Badge.png"); }
.hgssStormBadge { content: url("../images/hgss_Storm_Badge.png"); }
.hgssMineralBadge { content: url("../images/hgss_Mineral_Badge.png"); }
.hgssGlacierBadge { content: url("../images/hgss_Glacier_Badge.png"); }
.hgssRisingBadge { content: url("../images/hgss_Rising_Badge.png"); }

.xLogo { content: url("../images/x_logo.png"); }
.yLogo { content: url("../images/y_logo.png"); }
.xyBugBadge { content: url("../images/xy_Bug_Badge.png"); }
.xyCliffBadge { content: url("../images/xy_Cliff_Badge.png"); }
.xyRumbleBadge { content: url("../images/xy_Rumble_Badge.png"); }
.xyPlantBadge { content: url("../images/xy_Plant_Badge.png"); }
.xyVoltageBadge { content: url("../images/xy_Voltage_Badge.png"); }
.xyFairyBadge { content: url("../images/xy_Fairy_Badge.png"); }
.xyPsychicBadge { content: url("../images/xy_Psychic_Badge.png"); }
.xyIcebergBadge { content: url("../images/xy_Iceberg_Badge.png"); }

.teamMagma { content: url("../images/magma_logo.png"); }
.teamAqua { content: url("../images/aqua_logo.png"); }
.orasStoneBadge { content: url("../images/oras_stone_badge.png"); }
.orasKnuckleBadge { content: url("../images/oras_knuckle_badge.png"); }
.orasDynamoBadge { content: url("../images/oras_dynamo_badge.png"); }
.orasHeatBadge { content: url("../images/oras_heat_badge.png"); }
.orasBalanceBadge { content: url("../images/oras_balance_badge.png"); }
.orasFeatherBadge { content: url("../images/oras_feather_badge.png"); }
.orasMindBadge { content: url("../images/oras_mind_badge.png"); }
.orasRainBadge { content: url("../images/oras_rain_badge.png"); }


@media print {
	.subtask, .subsubtask {
		font-family: inherit;
	}
}