body {
	background-color: black;
}

label {
    display: block;
    margin-left: 20px;
}
input[type='checkbox'] {
    float: left;
	margin-right: .5em;
}

.pagewrap {
	width: 1000px;
	min-height: 1000px;
	background-color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
}

.pageTitle {
	font-family: 'pokemon_solidnormal';
	font-size: 32pt;
	text-align: center;
}