body {
	padding-top: 50px;
}

label {
    display: block;
    margin-left: 20px;
}

.label-new {
	font-family: Arial;
	font-size: 14pt;
}

input[type='checkbox'] {
    float: left;
	margin-right: .5em;
}

.pagewrap {
	background-color: white;
}

.pageTitle {
	padding-top: 20px;
	font-family: 'pokemon_solidnormal';
	font-size: 32pt;
	text-align: center;
}
